* {
  box-sizing: border-box;
}

:root {
  --surface-1: #fff;
  --surface-2: #f8f8f8;
  --surface-3: #f5f5f5;
  --surface-4: #e5e5e5;
  --text-color: #161616;
  --text-muted: #9F9F9F;
  --border-color: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --surface-1: #161616;
    --surface-2: #3d3d3d;
    --surface-3: #454545;
    --surface-4: #4f4f4f;
    --text-color: #DDDDDD;
    --text-muted: #bdbdbd;
    --border-color: #6d6d6d;
  }
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 400 1rem / 1.5 system-ui, -apple-system, "Arial", tahoma, sans-serif;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--surface-4);
  color: var(--text-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
textarea,
input {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  line-height: inherit;
  margin: 0;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: var(--text-muted);
}

button {
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px solid var(--text-color);
}

textarea {
  resize: none;
}

button:focus,
[tabindex]:focus {
  outline: 1px solid var(--text-color);
}

textarea:focus,
input:focus {
  outline: 0;
}

h1 {
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
}

svg {
  vertical-align: middle;
}

@tailwind utilities;